body{
	background: #8080;
}
h1{
	text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

nav li {
    flex: 1; /* Distribuye el espacio equitativamente entre los elementos */
    text-align: center; /* Alinea el texto al centro de cada <li> */
}

nav li.login {
    flex: 0; /* Evita que el botón de login se estire */
}

#content {
    display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
    padding: 20px;
}

section {
    flex: 1; /* Ocupa la mitad del espacio disponible */
    padding-right: 10px; /* Espacio entre la sección y el aside */
}

aside {
    flex: 1; /* Ocupa la mitad del espacio disponible */
    padding-left: 10px; /* Espacio entre el aside y la sección */
}
